<div class="row" *ngIf="imgPath; else loader">
    <form class="col s12" [formGroup]="editForm" (ngSubmit)="onSubmitUpdate()">
        <div class="col s12 m6">
            <div class="input-field col s12">
                <input class="training_name" type="text" formControlName="name">
                <label class="active" for="training_name">Name</label>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="input-field col s12">
                <input class="training_name" type="text" class="datepicker" formControlName="date">
                <label class="active" for="training_name">Pick start date</label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field col s12">
                <textarea id="textarea" class="materialize-textarea" maxlength="360"
                    formControlName="description"></textarea>
                <label class="active" for="textarea2">Description</label>
            </div>
        </div>
        <div class="col s12 file-field input-field">
            <div class="btn">
                <span>File</span>
                <input type="file" accept=".jpeg, .gif, .bmp, .png, .jpg" formControlName="img"
                    (change)="onFileSelect($event)" [disabled]="editForm.disabled"
                    [ngClass]="{'invalid': editForm.get('img').invalid && editForm.get('img').touched}">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path" type="text" value="{{imgPath}}">
            </div>
        </div>
        <app-loader-v2 *ngIf="loading"></app-loader-v2>
        <div class="col s12">
            <button type="submit" class="btn_login col s8 offset-s2 m6 offset-m3 l4 offset-l4 z-depth-4"
                [disabled]="editForm.invalid || editForm.disabled || loading">
                Update</button>
        </div>
    </form>
</div>

<ng-template #loader>
    <app-preloader-v1></app-preloader-v1>
</ng-template>