<h5 class="clr-Gray">Enter the verification code</h5>
<div class="input-field col s11">
    <i class="material-icons prefix">verified_user</i>
    <input id="reset-code" type="text" class="validate" [formControl]="code">
    <label for="reset-code">Сode</label>
    <span *ngIf="code.invalid && code.touched" class="helper-text red-text">
        <span *ngIf="code.errors?.required">The code field must be filled!</span>
    </span>
</div>
<button class="btn_login col s10 offset-s1 m8 offset-m2 z-depth-4" (click)="verify()"
    [disabled]="code.invalid">Confirm</button>