<h5 class="clr-Gray">Login problems?</h5>
<p class="clr-Gray">Enter your email address or user login and we'll send you a code to regain access to your account.
</p>
<div class="input-field col s11">
    <i class="material-icons prefix">contacts</i>
    <input id="reset" type="text" class="validate" [formControl]="data">
    <label for="reset">Login, email</label>
    <span *ngIf="data.invalid && data.touched" class="helper-text red-text">
        <span *ngIf="data.errors?.required">The login/email field must be filled!</span>
    </span>
</div>
<button class="btn_login col s10 offset-s1 m8 offset-m2 z-depth-4" (click)="check()" [disabled]="data.invalid">Send
    recovery code</button>