<div class="row">
  <div>
    <h5 class="col s12 m10 offset-m1 l6 offset-l3 center-align create-training z-depth-5">
      Exercises
    </h5>

    <div class="training-week col s12 m12 l12 xl12 z-depth-5" *ngIf="exercises.length != 0; else loader">
      <div class="col s12 m5 l5 xl5 workout-day" *ngFor="let exercise of exercises">
        <a *ngIf="exercise.status; else success"
          (click)="open(exercise.exerciseId, exercise.workoutId)">{{exercise.name}}</a>
        <ng-template #success>
          <p class="center-align" style="margin: 0px; color: #37c978">Done</p>
        </ng-template>
      </div>
    </div>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>