<h5 class="clr-Gray">Enter a new password</h5>
<div class="input-field col s11">
    <i class="material-icons prefix">security</i>
    <input id="reset-done" type="password" class="validate" [formControl]="password">
    <label for="reset-done">Password</label>
    <span *ngIf="password.invalid && password.touched" class="helper-text red-text">
        <span *ngIf="password.errors?.required">The password field must be filled!</span>
        <span *ngIf="password.errors?.minlength">Password must be at least 8 characters long!</span>
    </span>
</div>
<button class="btn_login col s10 offset-s1 m8 offset-m2 z-depth-4" (click)="reset()"
    [disabled]="password.invalid">Done</button>