<div class="row">
    <form [formGroup]="weekForm" *ngIf="base$ | async as bases; else preloader_v1" (ngSubmit)="onSubmitUpdate()">
        <div class="training-week col s12 z-depth-5" formArrayName="weeks"
            *ngFor="let week of weekForm.get('weeks')['controls']; let i = index">
            <div [formGroupName]="i">
                <h5 class="center-align">Week #{{i+1}}</h5>
                <div class="day" formArrayName="days" *ngFor="let day of week.get('days')['controls']; let j = index">
                    <div [formGroupName]="j" class="col">
                        <div class="black-field">
                            <h6>Day #{{j+1}}</h6>
                        </div>
                        <div *ngFor="let exercis of day.get('exercises')['controls']; let t = index"
                            formArrayName="exercises">
                            <div class="row" [formGroupName]="t">
                                <div class="col s12 m12 l6">
                                    <div class="col s12">
                                        <label for="select_all_select">Exercise</label>
                                        <select class="select_all_select" formControlName="exercise">
                                            <option value="" disabled selected>Choose your exercise</option>
                                            <option *ngFor="let base of bases; let v = index" value="{{base._id}}">
                                                {{base.name}}</option>
                                        </select>
                                        <span class="helper-text red-text"
                                            *ngIf="exercis.get('exercise').invalid && exercis.get('exercise').touched">
                                            <span *ngIf="exercis.get('exercise').errors['required']">
                                                Choose your exercise!
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col s12 m12 l6">
                                    <div class="input-field col s2" formArrayName="reps"
                                        *ngFor="let reps of exercis.get('reps')['controls']; let h = index">
                                        <input class="reps" type="text" formControlName="{{h}}">
                                        <label class="active" for="reps">Reps</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <button type="button"
                                class="btn_login col center-align s4 offset-s1 m4 offset-m2 l4 offset-l1 z-depth-4"
                                (click)="addExercise(i,j)"><i class="material-icons">add</i>
                            </button>
                            <button type="button"
                                class="btn_login col center-align s4 offset-s1 m4 offset-m2 l4 offset-l1 z-depth-4"
                                [disabled]="checkValidButtonRemove(i,j) === false" (click)="removeExercise(i,j)"><i
                                    class="material-icons">remove</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <button [disabled]="weekForm.invalid" type="submit"
                class="btn_login col s8 offset-s2 m6 offset-m3 l4 offset-l4 z-depth-4">
                Update
            </button>
        </div>
    </form>
    <ng-template #preloader_v1>
        <app-preloader-v1></app-preloader-v1>
    </ng-template>
</div>