<div class="row">
    <h5 class="col s12 m10 offset-m1 l6 
        offset-l3 xl6 offset-xl3 center-align 
        create-training z-depth-5">Workout
    </h5>
    <div *ngIf="workouts$ | async as workout; else preloader_v1">
        <div *ngIf="workout.length !== 0; else empty">
            <div class="col s12 m6" *ngFor="let item of workout">
                <div class="card">
                    <div class="card-image">
                        <img src="{{item.image}}">
                        <a class="btn-floating halfway-fab waves-effect waves-light red"
                            [routerLink]="['/workout', item._id]">
                            <i class="material-icons">play_arrow</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{item.name}}</span>
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #empty>
            <div *ngIf="base.length !== 0">
                <div class="col s12 center">
                    <h5>Your workout list is empty! Would you like to add a new
                        <a routerLink="/create">workout</a> or enter your <a routerLink="/activation">key</a>?
                    </h5>
                </div>
            </div>
            <div *ngIf="base.length == 0" class="col s12 center">
                <h5>Your workout list is empty! Would you like to add a new
                    <a routerLink="/base" [state]="{message: 'First you need to add an exercise!'}">workout</a>
                    or enter your <a routerLink="/activation">key</a>?
                </h5>
            </div>
        </ng-template>
    </div>
    <ng-template #preloader_v1>
        <app-preloader-v1></app-preloader-v1>
    </ng-template>
</div>
<div class="fixed-action-btn z-depth-5" #floating_btn>
    <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
    </a>
    <ul>
        <li *ngIf="base?.lengt !== 0">
            <a class="btn-floating red" routerLink="/create"><i class="material-icons">create</i></a>
        </li>
        <li *ngIf="base?.length == 0">
            <a class="btn-floating red" routerLink="/base" [state]="{message: 'First you need to add an exercise!'}">
                <i class="material-icons">create</i></a>
        </li>
        <li><a class="btn-floating green" routerLink="/activation"><i class="material-icons">vpn_key</i></a></li>
        <li><a class="btn-floating blue" routerLink="/base"><i class="material-icons">storage</i></a></li>
    </ul>
</div>