body {
    background-color: #161616;
}

nav{
    background-color:  #1e1f26;
}

h5{
    margin-top: 0;
    color:#FFFFFF
}

.row .col{
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}

a{
    text-decoration: none;
    color: #FC4E4E;
}

.black-field{
    display: block;
    color: #FFFFFF;
    background-color:#161616;
    border-radius: 50px;
    width: 37%;
    padding: 10px;
    max-width: 260px;
}

.black-field-large{
    display: inline-block;
    color: #FFFFFF;
    background-color:#161616;
    border-radius: 50px;
    width: 90%;
    padding: 12px;
    max-width: 260px;
}

@media (min-width: 536px){
    video.responsive-video{
        width: 80%;
    }

    .black-field{
        width: 32%;
    }

    .black-field-large{
        width: 80%;
    }
}

@media (min-width: 764px){
    video.responsive-video{
        width: 70%;
    }

    .black-field{
        width: 22%;
    }

    .black-field-large{
        width: 70%;
    }
}

@media (min-width: 900px){
    video.responsive-video{
        width: 60%;
    }

    .black-field{
        width: 22%;
    }

    .black-field-large{
        width: 50%;
    }
}

@media (min-width: 1200px){
    video.responsive-video{
        width: 55%;
    }

    .black-field{
        width: 22%;
    }

    .black-field-large{
        width: 50%;
    }
}

@media (min-width: 1400px){
    video.responsive-video{
        width: 40%;
    }

    .black-field{
        width: 12%;
    }

    .black-field-large{
        width: 30%;
    }
}

.reps{
    padding: 0 24px;
    display: block;
    background-color: #212121;
    border-radius: 10px
}

.register{
    padding-top: 5%;
    display: block;
}
.register-form{
    background-color: #212121;
    display: block;
    border-radius: 50px;
}

.td_btn{
    margin-right: 15px;
}

.btn_login{
    background-color: #FC4E4E;
    border-radius: 30px;
    border-style: none;
    color: #FFFFFF;
}

.btn_edit{
    background-color: #32a287;
    border-radius: 30px;
    border-style: none;
    color: #FFFFFF;
}

.btn_editworkout{
    text-align: center;
    background-color: #DF2935;
    color: #FFFFFF;
    border-style: none;
}

.btn_editworkout:hover{
    background-color: #d91e36;
    color: #FFFFFF;
    border-style: none;
    cursor: pointer;
}

.btn_editworkout.active{
    background-color: #393E41;
    color: #FFFFFF;
    border-style: none;
    cursor: unset;
}

.btn_login:not(:disabled):hover{
    background-color: #d91e36;
    border-radius: 30px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
}

.btn_edit:hover{
    background-color: #3E885B;
    border-radius: 30px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
}

.create-training{
    margin-top: 1%;
    background-color:#2B2B2B;
    border-radius: 50px;
    color: #FFFFFF;
}

.training-week{
    background-color: #212121;
    color: #FFFFFF;
    border-radius: 50px;
    margin-bottom: 30px;
}

input{
    color: #FFFFFF;
}

textarea{
    color: #FFFFFF;
}

.add-video-database{
    border-radius: 70px;
    background-color:#212121;
    margin-bottom: 30px;
}

.btn{
    background-color: #FC4E4E;
}

.video-table{
    color: #FFFFFF;
}

.workout-day{
    display: block;
    background-color: #161616;
    border-radius: 70px;
    margin-top: 10px;
    margin-right: 20px;
}

.workout-day a {
    display: block;
    text-align: center;
    height: 100%;
    color: #FFFFFF;
}

.workout-day a:hover {
    display: block;
    text-align: center;
    height: 100%;
    color: #FC4E4E;
}

.support-us{
    display: block;
    background-color: #FFFFFF;
    border-radius: 50px;
    margin-top: 10px;
}

button:disabled{
    background-color: #161616;
}

.dn{
    display: none;
}

select{
    display: block;
    background-color: #212121;
    color: #FFFFFF;
}

.exercise-window {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #1e1f26;
    padding: 0;
    max-height: 90%;
    width: 95%;
    margin: 1% auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
    border-radius: 50px;
}

.clr-White{
    color: #FFFFFF;
}

.activation-key{
    display: block;
    border-radius: 50px;
    background-color: #212121;
    margin: 20% 0;
    padding: 12px 24px;
}

.input-act-k{
    text-align: center;
}

 /* preloader_v1 start */
 .preloader_v1{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box1{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    border: 15px solid #fee440;
}

.box2{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    border: 15px solid #00bbf9;
}

.box1{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    animation: anim 1s linear infinite;
}

.box2{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    animation: anim2 1.2s linear infinite;
}

@keyframes anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes anim2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.dot{
    width: 50px;
    height: 50px;
    background: #FFFC31;
    border-radius: 50px;
    animation: anim3 3s linear infinite;
}

@keyframes anim3 {
    0% {
        transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        transform: scale(2);
        opacity: 1;
    }
}
 /* preloader_v1 end */

 /* loading_v1 start */
 .loading_v1 {
    width: 100%;
}

.percent {
    color: #999;
    font-size: 7em;
    font-weight: 400;
    text-align: center;
}

.progress-bar {
    width: 100%;
    height: 21px;
    background: #111;
    border-radius: 13px;
    box-sizing: border-box;
}

.progress {
    width: 100%;
    height: 19px;
    background: #f60d54;
    border-radius: 13px;
}

.add{
    animation: anim4.7s ease-in-out .1s;
}

@keyframes anim4 {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.2;
    }
    100%{
      opacity: 1;
    }
}

 /* loading_v1 end */